<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hello, my name is Jinho Kim and I am a web server engineer. I am developing a web server using Spring Boot and designing and managing a database using MySQL or MongoDB. I am interested in web server development, database management, and optimization.
            </p>
            <p class="paragraph-text justify-text">
                I worked on several web service projects, and was in charge of project execution as the project manager for many of them. Whenever I work on a web service project, I quickly identify market requirements, try to improve the web service accordingly, and strive to achieve a level of perfection that can be commercialized immediately in the market.
            </p>
            <p class="paragraph-text justify-text">
                You can see the code I wrote for my projects and labs on my <a href="https://github.com/{{ site.github_username }}">GitHub</a>, and my  email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
