<div class="section-wrapper">
    <section class="section experience" id="experience">
        <div id="about-experience">
            <div class="section-heading">Experience</div>
            <p class="paragraph-text justify-text">
                2018.03 ~ 2024.02: Kyung Hee Univ. <a href="https://github.com/DCOM-KHU"> D.com</a> Club Member
            </p>
            <p class="paragraph-text justify-text">
                2021.01 ~ 2021.12: Kyung Hee Univ. <a href="https://github.com/DCOM-KHU"> D.com</a> Club Leader
            </p>
            <p class="paragraph-text justify-text">
                2023.02 ~ 2023.06 : Law Firm Yulchon KM(Knowledge Management) Team Intern
            </p>
            <p class="paragraph-text justify-text">
                2023.08 ~ 2024.02: Kyung Hee Univ. SW Membership Member
            </p>
            <p class="paragraph-text justify-text">
                2022.11: Kyung Hee Univ. SW Festival Excellence Award(우수상) (Projects: SSD)
            </p>
            <p class="paragraph-text justify-text">
                2023.10: Kyung Hee Univ. Fall Programming Contest Encouragement Award(장려상)
            </p>
            <p class="paragraph-text justify-text">
                2023.11: Kyung Hee Univ. SW Hackathon(Khuthon) Excellence Award(우수상) (Projects: Parenting-Sim)
            </p>
        </div>
    </section>
</div>
