<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                I'm open to collaboration because I want to get a lot of experience out of participating in projects! In addition to project stories, I also enjoy sharing personal stories.
            </p>
            <p class="paragraph-text justify-text">
                If you have anything to ask about me or have something to say, please send an email to the following email address: <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
            </p>
            <!--<p class="paragraph-text justify-text">
                My resume is available here: <a href="{{ site.blog_url }}/resume/resume.pdf">PDF</a>, <a href="{{ site.blog_url }}/resume/resume.docx">DOC</a>
            </p>-->
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
                </span>
            </div>
        </div>
    </section>
</div>